@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: 'Ubuntu', sans-serif;
}

h1.text-success {
  font-size: 50px;
  color: white;
}

body {
  background-color: #262d49;
  margin-top: 60px;
}

h2 {
  margin-top: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

ul.checkboxes li {
  display:inline-block;
  width:12em;
}

.create-festival {
  margin-bottom: 10px;
  margin: -15px auto 15px auto;
}

.mult-artists {
  float: left;
  width: 30%;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.festivals {
  display: flex;
  justify-content: center;
}

.festival-section {
  border-radius: 5px;
  margin: 10px 20px;
  box-shadow: 0 2px 3px black;
  padding: 15px;
  display: inline-block;
  float: left;
  width: 45%;
  font-family: 'Open Sans', sans-serif;
}


a:hover {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
}

.going {
  background-color: #005691;
}

.going a {
  color: white;
}

.not-going {
  background-color: #E8F1F5;
}

.not-going a:hover {
  color: black;
}

.not-going a {
  color: black;
}

.edit-bar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 15px;
}

.edit-bar p {
  color: white;
}


/* navbar */
.navbar-default {
    background-color: #141829;
    border: none;
    box-shadow: 0 2px 3px black;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ccc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ccc;
    background-color: ;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #141829;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    background-color: #141829;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #141829;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.btn {
  box-shadow: 0 2px 2px black;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

@media (max-width: 1000px) {
  .festival-section {
    width: 95%;
  }
}
