ul.checkboxes li {
  display:inline-block;
  width:12em;
}

.mult-artists {
  float: left;
  width: 30%;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.festival-section {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
