body {
  background-color: #4B4A5A;
}

ul.checkboxes li {
  display:inline-block;
  width:12em;
}

.create-festival {
  margin-bottom: 10px;
}

.mult-artists {
  float: left;
  width: 30%;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.festival-section {
  color: #E1D5D2;
  border: 2px solid #E79A58;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #A55540;
  box-shadow: 0 2px 3px black;
}

.festival-section a {
  color: #E1D5D2;
