<h1>SIGNUP PAGE</h1>

<form action="/users" method="post">
  <p>Email: <input type="text" name="email"></p>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>

  <input type="submit" value="Sign Up">
</form>
