<div class="container">
  <div class="jumbotron text-center">
    <h1>festiPal</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>festiPal is an app for keeping track of your favorite upcoming music festivals!</h4>
      <p>This web application was made using the <a href="http://sinatrarb.com" target="_blank">Sinatra</a> framework.</p>
    </div>
    <div class="col-md-6">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input id="username" type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>

        <div class="form-group">
          <input type="submit" value="Log In" class="btn btn-primary form-control">
          <br><br>
          <a href="/signup" class="btn btn-success form-control">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>
